/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* end reset css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: "Roboto", sans-serif;
  background: hsl(210deg, 55%, 92%);
  color: hsl(222deg, 22%, 5%);
}
header {
  text-align: center;
  margin-bottom: 5rem;
}
main {
  min-width: 450px;
  width: 60%;
  margin: auto;
}
form {
  margin-bottom: 2em;
}
form div {
  margin-top: 0.4em;
}
label {
  display: block;
  font-weight: 600;
}

input,
textarea {
  padding: 0.4rem;
  border: 1px solid;
}

.submit {
  background: #3740ff;
  color: #fff;
  border: none;
  padding: 0.2rem 1rem;
}
.song {
  position: relative;
  height: auto;
  width: auto;
  margin: auto;
  padding: auto;
  display: flex;
  border-radius: 5px;
  background: #fff;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, green, blue);
}
.song img {
  height: 100px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
}
.song-details {
  margin: auto 0;
}
.song-play {
  display: inline-block;
  height: auto;
  width: auto;
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-size: 3em;
  color: green;
  background: none;
  border: none;
}
.song-play:hover {
  cursor: pointer;
}
